.footer {
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  height: 18vh;
  color: $white;
  @include verticalCenter;
  text-align: center;
  flex-direction: column;
  .logo {
    text-align: center;
    img {
      margin: 30% 0 20% 0;
      color: white;
    }
  }
  .copyright {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
  }
}
